@import "../../styles/variables";

.sidebar {
  width: 80%;
  max-width: 350px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: $page-bg;
  z-index: 90;
  box-shadow: $box-shadow;
  transform: translate(100%, 0);
}
.nav {
  margin-top: 4rem;
  ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
  }
  li {
    margin-top: 2rem;
  }
}
.navLink {
  color: $text-light;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 2rem;
}
.navLink:hover {
  color: $text-medium;
}
.activeNavLink {
  color: $text-dark;
}
