@import "../../styles/variables";

// .section {
//   outline: 1px solid blue;
// }
.heading {
  text-align: center;
}
.nav {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  column-gap: 2rem;
  align-items: center;
  color: $text-light;
}
.seeAllProjects {
  @include body-font-style;
}
